.App {
  width: 100vw;
}

.inputs {
  display: flex;
}

h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.searchBox {
  margin: 10px;
}

.searchButton {
  margin-left: 20px;
}

.inputsContainer {
  display: flex;
  justify-content: space-around;
}

.resultsContainer {
  display: flex;
  justify-content: space-around;
}

.searchResults {
  height: 25vh;
}

.results {
  margin-top: 20px;
  margin-left: 20px;
}

.disclaimer {
  font-size: 11px;
}