.App {
  width: 100vw;
}

h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.searchBox {
  margin: 10px;
}

.searchButton {
  margin-left: 20px;
}

.inputsContainer {
  display: grid;
  grid-template-columns: 50vw 50vw;
  justify-items: center;
}

.resultsContainer {
  display: grid;
  grid-template-columns: 28vw 44vw 28vw;
  justify-items: center;
}

.queryContainer {
  display: grid;
  grid-template-columns: 50vw 50vw;
  justify-items: center;
}

.graph {
  height: 1000px;
  width: 44vw;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.searchResults {
  height: 8rem;
}

.results {
  margin-top: 20px;
  margin-left: 20px;
}

.disclaimer {
  font-size: 11px;
  padding-bottom: 10px;
}

.playerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  position: relative;
  border: 1px solid black;
}